
@{
    Layout = "_HamadaLayout";
}

     <!-- C# Code  --> 
    @* @{ *@

    @* } *@

    <!--HTML Comment-->

    @* Start Body *@
    <center>
        <div class="m-5">
            <h1>Welcome To Home Page</h1>
        </div>
    </center>
