<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div>
        @RenderBody()
    </div>

    @* Start Header *@
    <center>
        <div class="m-5">
            <a href="/Home/Index" class="btn btn-primary">Home </a>
            <a href="/Home/AboutUs" class="btn btn-success">About Us </a>
            <a href="/Home/ContactUs" class="btn btn-danger">Contact Us </a>
            <a href="/Home/Privacy" class="btn btn-warning">Privacy </a>
        </div>
    </center>

</body>
</html>

